
h1{
    padding-top: 200px;
    color: #f300b4;
}

.playerPlate{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.buttonWrap{
    text-align: center;
    padding: 2rem;

}
.card{
    min-width: 200px;
    min-height: 350px;
    cursor: pointer;
}
